{% extends 'base.html' %} {% block content %} {% load static %}
<section class="py-5 text-blue">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12">
        <h1 class="display-4">100 Coding Interview Questions</h1>
      </div>
    </div>
  </div>
</section>

<!-- Listings -->
<section class="py-4">
  <div class="container">
    <div class="list-group">
        <div class="col-md-6 col-lg-4 mb-4">
        <a href="#" class="list-group-item list-group-item-action">Sliding Window</a>
        <a href="#" class="list-group-item list-group-item-action">Two Pointers</a>
        <a href="#" class="list-group-item list-group-item-action">Merge Intervals</a>
        <a href="#" class="list-group-item list-group-item-action">Cyclic Sort</a>
        <a href="#" class="list-group-item list-group-item-action">In-place Reversal pf a LinkedList</a>
        <a href="#" class="list-group-item list-group-item-action">Tree Breadth First Search</a>
        <a href="#" class="list-group-item list-group-item-action">Tree Depth First Search</a>
        <a href="#" class="list-group-item list-group-item-action">Two Heaps</a>
        <a href="#" class="list-group-item list-group-item-action">Subsets</a>
        <a href="#" class="list-group-item list-group-item-action">Bitwise XOR</a>
        <a href="#" class="list-group-item list-group-item-action">Top 'K' Elements</a>
        <a href="#" class="list-group-item list-group-item-action">K-way merge</a>
        <a href="#" class="list-group-item list-group-item-action">0/1 Knapsack</a>
        <a href="#" class="list-group-item list-group-item-action">Topological Sort</a>
        <a href="#" class="list-group-item list-group-item-action">Miscellaneous</a>
        </div>
      </div>  
    </div>
  </div>
</section>

{% endblock %}
